:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #23252C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  font-family: Inter, sans-serif;
}

p {
  font-size: .9rem;
  margin: 0;
  line-height: 1.3rem;
}

a {
  color: lightblue;
}
h1 {
  line-height: 1.1;
  margin: 0px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 2.5rem;
  
}

h2 {
  line-height: 1.1;
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: left;
}

main {
 background-color: #1A1B21;
 max-width: 400px;
 border-radius: 10px;
}

#pfp {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}


.info-section {
  margin: 10px;
}

#occupation {
  font-size: 1rem;
  font-weight: 400;
  color: #F3BF99;
}

#portfolio-link {
  margin-top: 5px;
  margin-bottom: 20px;
}

#contact-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
}

button {
  border: none;
  
}

button :focus {
  border: none;
}
#contact-buttons > a {
  border-radius: 6px;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px;
  width: 120px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

#contact-buttons > a > img {
  width: 20px;
  height: 20px;
}
#email-btn {
  color: black;
  background-color: white;
}

#email-btn:hover{
  background-color: #d7d7d7;

}

#linkedin-btn{
  color: white;
  background-color: #5093E2;
}
#linkedin-btn:hover {
  background-color: #347ccd;
}

.more-info-section {
  padding: 0;
  text-align: left;
  margin: 25px 50px 25px 50px;
}

.more-info-section > h2 {
  margin-bottom: 5px;
}

#footer {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 25%;
}

#footer > img {
  width: 25px;
   margin-bottom: 20px;

}